body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #584f4f49;
}
/* design for first page*/
.first_page{
    background-color: rgb(255, 255, 255);
    
}
.first_page_v1{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.882);
    border: 5px;
    width: 1440px;
    height: 170px;
    box-shadow: 0px 5px 10px -8px #000000;
}

.first_page_v1_logo{
 display: flex; 
 align-items: center; 
 justify-content: center; 
 border: solid;
 border-top: 0;
 border-left: 0;
 border-right: 0;
 border-color: rgba(0, 0, 0, 0.221);
 border-width: 1.6px;
 width:1440px;   
}

.first_page_v1_subheading{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    column-gap: 15px;
    font-size: 12px;
    font-weight: 700;
    width: 930px;
    
    margin-top: 5px;
}
.subheading_v1{
    letter-spacing: 1.66px;
}
.menu_button{
    position: relative;
    right:525px;
}
.subscribe_button{
    position: relative;
    left: 550px;
}
.logo_image{
    position: relative;
    left:50px;
}
.first_page_v2{
    background-color: rgba(24, 185, 45, 0.741);
    width: 1440px;
    height:669px;
    position: relative;
    margin-top: 10px;
    
  }
  .chil_1_page1{
    position: relative;
  }
  .chil_2_page1{
    position: absolute;
    top:200px;
    left:2px
  }
  .chil_3_page1{
    position: absolute;
    top:200px;
    right:2px;
  }
  .chil_6_page1{
    position: absolute;
    top:260px;
    left:40px;
  }
  .chil_5_page1{
    position: absolute;
    top:260px;
    right:40px
  }
  .text_on_page1{
    position: absolute;
    top: 400px;
    left: 355px;
    color: rgba(255,255,255,1);
    font-weight: 400;
    font-size: 55px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }

/*design for second page*/
.second_page{
    background-color: rgba(128,128,128);
}
.second_page_v1{
    background-color: rgb(169, 77, 71);
}
.second_page_v2{
    background-color: blueviolet;
}